/QMatrixClient/
/QtProject.conf
/QtProject/
/Riot
/Thunar/
/Trolltech.conf
/Zeal/
/asciinema/
/autostart/
/baloofilerc
/beets/library.db
/beets/state.pickle
/chromium
/dconf/
/enchant/
/eog
/evince
/evolution/
/freerdp/
/gedit/
/gnome-control-center/
/goa-1.0/
/google-chrome
/gtk-3.0/bookmarks
/gtk-3.0/bookmarks
/htop/
/ibus/
/inkscape/
/kicad/
/klavaro/
/kritarc
/libreoffice/
/libvirt
/mopidy/
/nitrogen/
/obs-studio/
/openvpn/
/pavucontrol.ini
/pluma/
/pulse
/qutebrowser/bookmarks/urls
/remmina/
/sakura/
/sigrok/
/spotify
/sway/
/taffybar/
/terminology/
/totem/
/unity3d/
/vim/syntax
/vlc
/wireshark/
/xfce4/
/xmonad/xmonad.state
