/Riot
/Thunar/
/Trolltech.conf
/asciinema/
/beets/library.db
/beets/state.pickle
/chromium
/dconf/
/eog
/evince
/freerdp/
/google-chrome
/gtk-3.0/bookmarks
/gtk-3.0/bookmarks
/htop/
/ibus/
/klavaro/
/kritarc
/libreoffice/
/libvirt
/nitrogen/
/openvpn/
/pluma/
/pulse
/qutebrowser/bookmarks/urls
/sakura/
/spotify
/unity3d/
/vim/syntax
/vlc
/wireshark/
/xfce4/
/xmonad/xmonad.state
/mopidy/
/pavucontrol.ini
