.gitignore
opt/
run/
share/
tmp/
var/

etc/Riot
etc/beets/library.db
etc/beets/state.pickle
etc/chromium
etc/eog
etc/evince
etc/google-chrome
etc/kritarc
etc/libvirt
etc/pulse
etc/spotify
etc/vlc
etc/qutebrowser/bookmarks/urls

lib/beets/library.db
